.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 60px auto;
  border: 1px solid #554d4d;
  border-radius: 5px;
  background: linear-gradient(
    0.25turn,
    #d8ab50,
    #fcf6ba,
    #d39e2c,
    #fbf5b7,
    #aa771c
  );
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 2px 2px 5px 1px rgb(185, 172, 172);
}

.Weather .description::first-letter {
  text-transform: capitalize;
}
.Weather .location,
.Weather .title {
  font-family: "Poiret One", cursive;
  background-color: #aa771c;
  background-image: linear-gradient(
    135deg,
    #d8ab50,
    #fcf6ba,
    #d39e2c,
    #fbf5b7,
    #aa771c
  );
  background-size: 50%;
  -webkit-text-stroke: 1px #797675;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.Weather .location {
  font-size: 45px;
  font-weight: 200;
  padding-top: 10px;
  padding: 5px;
  margin: 0 auto;
}


.Weather .location-icon {
  fill: url(#my-gold-gradient-1);
}


.col-4 {
  text-align: right;
  margin: 0 auto;
  display: block;
  width: 500;
  padding: 5px;
}

.col {
  text-align: left;
  margin: 0 auto;
  display: block;
  width: 500;
}

h1 {
  text-align: center;
  color: rgba(145, 190, 68, 0.753);
  display: block;
  font-family: "New Tegomin", serif;
  font-size: 30px;
}

h2 {
  color: darkslategrey;
  display: block;
  text-align: center;
}

h3 {
  color: salmon;
  display: block;
  text-align: center;
  margin-bottom: 0;
}

#input-search {
  display: block;
  margin: 50px;
  margin-left: -80px;
  text-align: center;
  padding: 5px;
  width: 300;
  border: 1px solid rgb(201, 199, 202);
  box-shadow: #554d4d;
  border-radius: 15px;
  font-size: 25px;
}

#button-search {
  margin: 50px auto;
  margin-bottom: 10px;
  margin-left: 85px;
  display: block;
  color: rgba(87, 93, 187, 0.897);
  background: #f7f5f1;
  width: 200;
  border: 3px solid rgb(107, 91, 37);
  border-radius: 25px;
  transition: 200ms all ease-in-out;
  font-size: 20px;
}

button-search.hover {
  cursor: pointer;
  color: rgb(207, 40, 152);
}

ul {
  margin: 0 auto;
  padding: 0;
}

#celsius {
  font-size: 20px;
}

#fahrenheit {
  font-size: 20px;
}

#icon {
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 30px;
  margin-left: 50px;
  display: inline;
}

.date-and-time {
  color: #554d4d;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
}

.description {
  text-align: center;
  text-transform: capitalize;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
  color: #000;
}

.forecastday {
  font-size: 18px;
  opacity: 0.6;
}

.forecast-min-temp {
  opacity: 0.6;
}

.forecasttemp {
  font-size: 16px;
  list-style: none;
}

.weather-app-wrapper {
  list-style: none;
  color: rgb(71, 61, 14);
  right: 0;
  left: 0;
  font-size: 15px;
  margin: -55px auto;
  display: block;
  width: 30%;
  position: absolute;
}

footer {
  color: rgb(9, 29, 39);
  font-size: small;
  text-align: right;
}
